run-dev mode.bat
run.bat
/Python/app/Plotting/__pycache__
/Python/app/Plotting/__pycache__
/Python/app/Processing/__pycache__
/Python/app/Plotting/__pycache__
/Python/app/Processing/__pycache__
/Python/app/ui/__pycache__
/Python/__pycache__
/Python/app/Plotting/__pycache__
/Python/app/Processing/__pycache__
/Python/app/ui/__pycache__
/Python/app/ui/__pycache__
/data/settings
